.common__section {
  background: linear-gradient(#212245b2, #212245b2),
    url("../assets/images/banner.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding: 80px 0px;
  object-position: center;
  object-fit: cover;
}
