.header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #E2F9EE;
  overflow: hidden;
}

.logo {
  text-align: center;
}

.logo img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.menu a {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  transition: 0.3s;
  text-decoration: none;
}

.menu a:hover {
  color: #08C25E;
}

.active__menu {
  color: #08C25E !important;
}

.cart__icon i,
.user i,
.mobile__menu i {
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}

.user a{
  text-decoration: none;
}

.cart__icon {
  position: relative;
}

.cart__badge {
  width: 18px;
  height: 18px;

  position: absolute;
  top: 30px;
  right: -10px;

  background: #08C25E;
  color: #fff;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__menu {
  font-weight: 600;
  display: none;
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  box-shadow: 5px 5px 15px -5px #fde4e4;
}

.closeMenu{
  display: none;
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 60%);
  }
  .logo h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 1rem;
  }

  .show__menu {
    display: none;
  }

  .closeMenu{
    font-size: 30px;
    display: block;

    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer !important;
  }

  .closeMenu:focus{
    color: #08C25E;
  }

  .cart__badge {
    width: 14px;
    height: 14px;
  
    position: absolute;
    top: 25px;
    right: -10px;
  
    background: #08C25E;
    color: #fff;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 500;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }

  .logo img {
    margin-top: -70px !important;
  }
  .logo h5 {
    margin-top: -55px;
  }

  .logo img {
    width: 90%;
    height: 50px;
    object-fit: cover;
    margin-top: 0px !important;
  }

}

@media only screen and (max-width: 992px) {
  .logo img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    margin-top: 0px !important;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 0.875rem;
  }

  .show__menu {
    display: block;
  }

}
